<pre>
  site-head1 Component
  Mar 9 gotta learn how to pass values between components.
  If Routing is ON, that means we want to click on the map to draw a flight route.
  The Routing button is on the site-head1 component, and
  the map is on the map1 component.
  read up on angular input and output decorators, and the events.
  https://angular-2-training-book.rangle.io/handout/components/app_structure/responding_to_component_events.html
  also, we might want a switch slider control, instead of an ON OFF button.
  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
</pre>
<button (click)='fun1()'>{{butRoutingOn}}</button>
<button (click)='fun2()'>{{butSaveRoute}}</button>