
<div class='cgMain'>
<pre> 
    words here are from app.component.html 
    below is agm-map1 and app-view-repos 
</pre>
<app-site-head1 class='gt1'>
        <!--  component stuff magically fills in here -->
</app-site-head1>
<app-map1 class='gt2'>
    <!--  component stuff magically fills in here -->
</app-map1>

<app-view-repos class='gt3'>
    <!-- component stuff magically fills in here -->
</app-view-repos>

<pre>
    this is the end of app.componenet.html 
</pre>
</div>